body {
  background: #686573;
  margin: 40px;
  text-align: center;
}
.container {
  background: linear-gradient(#d6d7dc, #b1c5d4, #71879a);
  border: 8px solid #f7e1d3;
  border-radius: 30px;
  margin: 40px auto;
  padding: 20px 80px 80px;
}
h1,
h2,
p {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
}
h1 {
  color: seashell;
  font-size: 80px;
  font-weight: bold;
  margin: 0 auto;
  padding: 40px 40px 0px 40px;
  -webkit-text-stroke: 2.5px #926468;
}
h2 {
  border: 4px solid #9ab7d3;
  border-radius: 6px;
  background-color: seashell;
  color: #686573;
  font-size: 32px;
  font-weight: lighter;
  margin: 30px auto;
  padding: 10px;
  line-height: 32px;
}

.listItems {
  padding: 20px;
}
.caption {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
}
.photos {
  border: 8px dotted rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 400px;
  height: 400px;
}
hr {
  border: 0;
  border-top: 6px solid whitesmoke;
  display: block;
  height: 2px;
  margin: 30px;
  padding: none;
}
P {
  font-size: 28px;
  line-height: 40px;
  margin: 30px auto;
  padding: 20px;
}
.pinterest {
  color: rgba(271, 271, 271, 0.6);
  text-decoration: none;
}
.pinterest:hover {
  color: #f5d2d3;
  text-decoration: underline;
  cursor: pointer;
}
button {
  background: #686573;
  border: 6px solid #f7e1d3;
  border-radius: 40px;
  box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.6);
  color: #f7e1d3;
  display: block;
  font-size: 18px;
  font-weight: bolder;
  margin: 0 auto;
  padding: 16px 20px;
  transition: all 200ms ease-in-out;
}
button:hover {
  opacity: 0.6;
  cursor: pointer;
}
.footer {
  color: #f7e1d3;
  display: inline-block;
  font-family: monospace;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}
